<nav>
  <div class="nav-wrapper brown darken-2">
    <a href="/jedis" class="brand-logo">Jedis</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/jedis/master">Rangos</a></li>
      <li><a href="/jedis/knight">Armas</a></li>
      <li><a href="/jedis/padawan">Padawan</a></li>
      <li><a href="/jedis/youngling">Aprendiz</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s8">
      <div class="card">
        <div class="card-image">
          <img src="/images/jedi.webp">
        </div>
        <div class="card-content">
          <span class="card-title brown-text text-darken-2">{{nombre}}</span>
          <p>Un Jedi es un individuo sensible a la Fuerza, la mayoría de las
            veces un miembro de la Orden Jedi, que estudia, sirve y usa
            las energías místicas de la Fuerza; usualmente, el lado luminoso de
            la Fuerza.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="collection">
        <h4>Rangos</h4>
        <a href="/jedis/youngling" class="collection-item">Aprendiz</a>
        <a href="/jedis/padawan" class="collection-item">Padawan</a>
        <a href="/jedis/knight" class="collection-item">Caballero Jedi</a>
        <a href="/jedis/master" class="collection-item">Maestro Jedi</a>
        <a href="/jedis/master" class="collection-item">Gran Maestro Jedi</a>
      </div>
      <div class="collection">
        <h4>Armas</h4>
        <a href="/jedis/youngling" class="collection-item">Espada Laser</a>
        <a href="/jedis/padawan" class="collection-item">Espada Laser Doble Hoja</a>
        <a href="/jedis/knight" class="collection-item">Espada Laser Shoto</a>
        <a href="/jedis/master" class="collection-item">Espada Laser Doble Fase</a>
        <a href="/jedis/youngling" class="collection-item">Pica Laser</a>
        <a href="/jedis/youngling" class="collection-item">Latio laser</a>
      </div>
    </div>
  </div>
</div>
